<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- 
     autogenerate V1.0 by dongao
-->
<mapper namespace="com.yxb.cms.modules.msg.dao.MsgMapper">
	<!-- 返回结果Map -->
	<resultMap type="com.yxb.cms.modules.msg.model.Msg" id="BaseResultMap">
		<id property="id" column="id" javaType="java.lang.Integer" jdbcType="INTEGER"/>
		<result property="phoneNumber" column="phone_number" javaType="java.lang.String" jdbcType="VARCHAR"/>
		<result property="memberId" column="member_id" javaType="java.lang.Integer" jdbcType="INTEGER"/>
		<result property="msgParams" column="msg_params" javaType="java.lang.String" jdbcType="VARCHAR"/>
		<result property="msgResult" column="msg_result" javaType="java.lang.Integer" jdbcType="INTEGER"/>
		<result property="errmsg" column="errmsg" javaType="java.lang.String" jdbcType="VARCHAR"/>
		<result property="ext" column="ext" javaType="java.lang.String" jdbcType="VARCHAR"/>
		<result property="fee" column="fee" javaType="java.lang.String" jdbcType="VARCHAR"/>
		<result property="sid" column="sid" javaType="java.lang.String" jdbcType="VARCHAR"/>
		<result property="isValid" column="is_valid" javaType="java.lang.Integer" jdbcType="INTEGER"/>
		<result property="createUser" column="create_user" javaType="java.lang.Integer" jdbcType="INTEGER"/>
		<result property="createDate" column="create_date" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
	</resultMap>
	<!--表名-->
	<sql id="table_name">cc_msg</sql>
	<!--查询字段集合-->
	<sql id="Base_Column_List">
		id,
		phone_number,
		member_id,
		msg_params,
		msg_result,
		errmsg,
		ext,
		fee,
		sid,
		is_valid,
		create_user,
		create_date
	</sql>
	<!--查询字段-->
	<sql id="Base_Column_List_asType">
		id as "id",
		phone_number AS phoneNumber,
		member_id AS  memberId,
		msg_params as "msgParams",
		msg_result as "msgResult",
		errmsg as "errmsg",
		ext as "ext",
		fee as "fee",
		sid as "sid",
		is_valid as "isValid",
		create_user as "createUser",
		create_date as "createDate"
	</sql>
	<!-- 根据主键查询用户 -->
	<select id="load" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from <include refid="table_name" />
		where id = #{id,jdbcType=BIGINT}
	</select>
	<!-- 根据条件查询用户（带分页） -->
	<select id="selectByPage" resultMap="BaseResultMap" parameterType="com.yxb.cms.modules.msg.model.Msg">
		select
		<include refid="Base_Column_List" />
		from <include refid="table_name" />
		where is_valid=1
		<if test="msgParams != null">
			and msg_params=#{msgParams,jdbcType=VARCHAR}
		</if>
		<if test="phoneNumber != null">
			and phone_number=#{phoneNumber,jdbcType=VARCHAR}
		</if>
		<if test="memberId != null">
			and member_id=#{memberId,jdbcType=INT}
		</if>
		<if test="msgResult != null">
			and msg_result=#{msgResult,jdbcType=INT}
		</if>
		<if test="errmsg != null">
			and errmsg=#{errmsg,jdbcType=VARCHAR}
		</if>
		<if test="ext != null">
			and ext=#{ext,jdbcType=VARCHAR}
		</if>
		<if test="fee != null">
			and fee=#{fee,jdbcType=VARCHAR}
		</if>
		<if test="sid != null">
			and sid=#{sid,jdbcType=VARCHAR}
		</if>
		<if test="isValid != null">
			and is_valid=#{isValid,jdbcType=INT}
		</if>
		<if test="createUser != null">
			and create_user=#{createUser,jdbcType=INT}
		</if>
		<if test="createDate != null">
			and create_date=#{createDate,jdbcType=TIMESTAMP}
		</if>
		order by id desc
	</select>
	<!-- 根据主键删除用户 -->
	<delete id="delete" parameterType="java.lang.Long">
		delete from <include refid="table_name" />
		where id = #{id,jdbcType=BIGINT}
	</delete>

	<!-- 增加一个实体 -->
	<insert id="insert" useGeneratedKeys="true" keyColumn="id" keyProperty="id" parameterType="com.yxb.cms.modules.msg.model.Msg">
		INSERT INTO <include refid="table_name" />
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="msgParams != null">
				msg_params,
			</if>
			<if test="msgResult != null">
				msg_result,
			</if>
			<if test="memberId != null">
				member_id,
			</if>
			<if test="phoneNumber != null">
				phone_number,
			</if>
			<if test="errmsg != null">
				errmsg,
			</if>
			<if test="ext != null">
				ext,
			</if>
			<if test="fee != null">
				fee,
			</if>
			<if test="sid != null">
				sid,
			</if>
			<if test="isValid != null">
				is_valid,
			</if>
			<if test="createUser != null">
				create_user,
			</if>
			<if test="createDate != null">
				create_date
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="msgParams != null">
				#{msgParams},
			</if>
			<if test="msgResult != null">
				#{msgResult},
			</if>
			<if test="memberId != null">
				#{memberId},
			</if>
			<if test="phoneNumber != null">
				#{phoneNumber},
			</if>
			<if test="errmsg != null">
				#{errmsg},
			</if>


			<if test="ext != null">
				#{ext},
			</if>
			<if test="fee != null">
				#{fee},
			</if>
			<if test="sid != null">
				#{sid},
			</if>
			<if test="isValid != null">
				#{isValid},
			</if>
			<if test="createUser != null">
				#{createUser},
			</if>
			<if test="createDate != null">
				#{createDate}
			</if>
		</trim>
	</insert>
	<!-- 更新一个实体 -->
	<update id="update" parameterType="com.yxb.cms.modules.msg.model.Msg">
		UPDATE <include refid="table_name" />
		<set>
			<if test="msgParams != null">
				msg_params=#{msgParams},
			</if>
			<if test="phoneNumber != null">
				phone_number=#{phoneNumber},
			</if>
			<if test="memberId != null">
				memberId=#{memberId},
			</if>
			<if test="msgResult != null">
				msg_result=#{msgResult},
			</if>
			<if test="errmsg != null">
				errmsg=#{errmsg},
			</if>
			<if test="ext != null">
				ext=#{ext},
			</if>
			<if test="fee != null">
				fee=#{fee},
			</if>
			<if test="sid != null">
				sid=#{sid},
			</if>
			<if test="isValid != null">
				is_valid=#{isValid},
			</if>
			<if test="createUser != null">
				create_user=#{createUser},
			</if>
			<if test="createDate != null">
				create_date=#{createDate}
			</if>
		</set>
		WHERE id =#{id}
	</update>
	<!-- 查询全部 -->
	<select id="selectAll"  resultMap="BaseResultMap">
		SELECT * FROM <include refid="table_name" /> where is_valid=1
	</select>
	<!-- 统计全部 -->
	<select id="countAll"  resultType="int">
		SELECT count(1) FROM <include refid="table_name" /> where is_valid=1
	</select>
	<!--Notice:$要自己保证入参合法性，以防止sql注入-->
	<!--common:入参 sql 出参：map-->
	<select id="commonSelectBySql" resultMap="BaseResultMap" parameterType="com.yxb.cms.util.CommonDto">
		${sql}
	</select>
	<select id="commonCountBySql" resultType="int" parameterType="com.yxb.cms.util.CommonDto">
		${sql}
	</select>
	<select id="commonBySqlPage" resultMap="BaseResultMap" parameterType="com.yxb.cms.util.CommonDto">
		${sql}
	</select>
</mapper>
	 
